*.ini
livro_texto/Cálculo_Volume_1_-_Howard_Anton,_Irl_Bivens,_Stephen_Davis_-_8ª_Edição[www.souexatas.blogspot.com.br]-[materialcursoseconcursos.blogspot.com.br].pdf
livro_texto/Howard_Anton_Cálculo_1_-_8ª_Edicao.pdf
video_aulas/Matemática_para_Computação_Aula_01.webm
video_aulas/Matemática_para_Computação_Aula_05.webm
video_aulas/Matemática_para_Computação_Aula_06.webm
video_aulas/Matemática_para_Computação_Aula_07.mp4
video_aulas/Matemática_para_Computação_Aula_07.webm
video_aulas/Matemática_para_Computação_Aula_09.webm
livro_texto/Cálculo_Volume_1_-_Howard_Anton,_Irl_Bivens,_Stephen_Davis_-_8ª_Edição\[www.souexatas.blogspot.com.br\]-\[materialcursoseconcursos.blogspot.com.br\].pdf
